---
layout: page.njk
title: Impressum
permalink: /impressum/
---

<h1>Impressum</h1>

<div class="page-content legal-content">

  <p>Angaben gemäß § 5 Digitale-Dienste-Gesetz (DDG)</p>

  <p>
    Xaver Friedrich<br>
    Wielandstraße 42<br>
    89073 Ulm
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: info@xaverfriedrich.de
  </p>

  <h2>Redaktionelle Verantwortung</h2>
  <p>
    Inhaltlich Verantwortlicher gemäß § 18 Abs. 2 Medienstaatsvertrag (MStV):<br>
    Xaver Friedrich<br>
    Wielandstraße 42<br>
    89073 Ulm
  </p>

</div>
